#data
/checkpoint/

# checkpoints backup
/ck_backup/

# training data
/data/

# caches
/utils/__pycache__/

# images
/utils/images/
*.pyc

# presentation files
/ppts/
*.pptx

# all demo png and csv files
*.png
*.csv

/.vscode
/corrected_images/
*.tar
